/*
Color Palette

CFCCD6 French Gray
343633 Black Olive
F4E87C Straw
AD6A6C Redwood
B0413E Redwood but more saturated

*/

/* GLOBAL STYLES
-------------------------------------*/

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body{
   height: 100%;
}

body {
    background: #eeeaea;
    margin: 0;
}

/*links */

a{ 
    color:#f4e87c; 
}

a:hover {
    color:rgb(219, 152, 64);
}

footer a{
    color:#f4e87c;
}

footer a:hover{
    color:rgb(219, 152, 64) 
}

.btn {
    background: #f4e87c; 
    color: #B0413E; 
    text-decoration: none;
}

.content-wrapper{
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;

}

/* HOME
-----------------------------------------*/
.home {
    background: url(../images/whitebg.jpeg) no-repeat;
    background-size: cover;
}
.home .content-wrapper {
    background: rgb(255 255 255 / 0.9);
}

/* RESUME 
------------------------------------------*/

.resume header::before{
    background: url(../images/resumeimg.png) center / cover;
    background-size: cover;
    content: "";
    display: block;
    height: 475px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
border-bottom: 2px dashed #AD6A6C;
}

.download-link{
    position: fixed;
    top: 5px;
    left: 5px;
}

/* PROFILE 
------------------------------------------*/


/* PROJECTS 
------------------------------------------*/
.project-item{
    display:flow-root;
    margin: 30px 0;
}

.project-item img{
    width: 300px;
    float: left;
    margin-right: 20px;
}


/* WORK EXPERIENCE 
------------------------------------------*/


/* EDUCATION 
------------------------------------------*/


/* FOOTER 
------------------------------------------*/
footer{
    background:#222;
    color: #b3b3b3;
}

.socials{
    list-style-type: none;
    padding: 0;
}

.socials li{
    display: inline-block;
}

.socials img{
    width: 32px;
}